<templateSet group="PHPUnit">
  <template name="test" value="/** &#10; * @test&#10; */&#10;public function $name$()&#10;{&#10;    $END$&#10;}" description="Test Method" toReformat="false" toShortenFQNames="true" deactivated="true">
    <variable name="name" expression="" defaultValue="" alwaysStopAt="true" />
    <context>
      <option name="PHP" value="true" />
    </context>
  </template>
  <template name="curr" value="@group current" description="@group current phpunit" toReformat="false" toShortenFQNames="true" deactivated="true">
    <context>
      <option name="PHP Comment" value="true" />
    </context>
  </template>
  <template name="gr" value="@group $END$" description="@group phpunit" toReformat="false" toShortenFQNames="true" deactivated="true">
    <context>
      <option name="PHP Comment" value="true" />
    </context>
  </template>
</templateSet>